<div class="container py-5 ">
  <div class="row">
    <div class="col-md-6">
      <h5 class="bg-dark text-light text-center">ルーム一覧</h5>
      <%= form_with model: [:admin, @room] do |f| %>
        <div class="col-sm-8">
          <%= f.label :name,"ルーム名" %>
          <%= f.text_field :room_name,class: "form-control text_field" %>
          <%= f.submit "新規登録", class: 'btn btn-success' %>
        </div>
      <% end %>

    <table>
      <div>ルーム</div>
        <% @rooms.each do |room| %>
          <tr>
            <td>
              <%= room.room_name %>
            </td>
            <th></th>
            <td>ルーム画像</td>
            <td><%= image_tag room.get_room_image, size: '100x100' %></td>
          </tr>
          <tr>
            <td>
              <%= link_to '詳細',admin_room_path(room.id),class: "btn btn-sm btn-success" %>
              <%= link_to '編集する',edit_admin_room_path(room.id),class: "btn btn-sm btn-success" %>
              <%= link_to '削除',admin_room_path(room.id),method: :delete, data: { confirm: '本当に削除しますか？' },class: "btn btn-sm btn-success" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>