<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">ルーム一覧</h3>
    </div>
    <div class="col-2"></div>
    <div class="col-7">
      <%= form_with model: [:admin, @room] do |f| %>
        <%= f.label :ルーム名 %>
        <%= f.text_field :room_name,class: "form-control text_field" %>
        <%= f.collection_select :category_name,Category.all,:category_name,:category_name %>
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% end %>
    </div>
    <table class="table mt-5">
      <% @rooms.each do |room| %>
      <tr>
        <th>ルーム名</th>
        <td><%= room.room_name %></td>
      </tr>
      <tr>
        <th>ルーム画像</th>
        <td><%= image_tag room.get_room_image, size: '100x100' %></td>
        <th>カテゴリー</th>
        <td><%= room.category.category_name if room.category_id %></td>
        <td>
          <%= link_to '詳細',admin_room_path(room.id),class: "btn btn-sm btn-success" %>
          <%= link_to '編集する',edit_admin_room_path(room.id),class: "btn btn-sm btn-success" %>
          <%= link_to '削除',admin_rooms_destroy_all_path(room.id),method: :delete, data: { confirm: '本当に削除しますか？' },class: "btn btn-sm btn-success" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>