<h1 class="text-center">ルーム一覧</h1>
<div class="row">
  <% @rooms.each do |room| %>
    <div class="col-md-3">
      <div class="card mt-3">
        <%= image_tag room.get_room_image, class: 'card-img-top' %>
        <%= link_to room.room_name, room %>
        <% if room.bookmarked_by?(current_customer) %>
          <%= link_to room_bookmarks_path(room), method: :delete do %>
            お気に入り解除
          <% end %>
        <% else %>
          <%= link_to room_bookmarks_path(room), method: :post do %>
            お気に入り追加
          <% end %>
        <% end %>
        カテゴリー：<%= room.category.category_name if room.category_id %>
      </div>
    </div>
  <% end %>
</div>