<h2>Search for "<%= @word %>"</h2>
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if @range == "Customer" %>
      <% @customers.each do |customer| %>
        <tr>
          <td></td>
          <td><%= customer.name %></td>
          <td><%= image_tag customer.get_profile_image,size:"100x100" %></td>
        </tr>
      <% end %>
    <% elsif  @range == "Room" %>
      <% @rooms.each do |room| %>
        <tr>
          <td></td>
          <td><%= room.room_name %></td>
          <td><%= image_tag room.get_room_image,size:"100x100" %></td>
        </tr>
      <% end %>
    <% else %>
      <% @categories.each do |category| %>
        <tr>
          <th></th>
          <th></th>
          <% category.rooms.each do |room| %>
            <td><%= room.room_name %></td>
            <td><%= image_tag room.get_room_image,size:"100x100" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>