<h2>Search for "<%= @word %>"</h2>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
      <% if @range == "Customer" %>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%#= image_tag book.user.get_profile_image,size:"100x100" %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.id %></td>
          <td><%= room.room_name %></td>
          <td><%#= image_tag book.user.get_profile_image,size:"100x100" %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>